@model List<USP.Models.Employee>

<html>
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link href="~/css/css.css" rel="stylesheet">
</head>
<body>
    <nav class="one" style="margin-left: 30px; margin-top: 20px;">
        <ul>
            <li><a asp-action="Index" asp-controller="AddEmployee">+ Cотрудник</a></li>
            <li><a href="#">- Cотрудник</a></li>
        </ul>
    </nav>
    <table id="main_workers_table" style="margin-right: 60px; margin-left: 60px; background-color: #fff; opacity: 0.8; font-size: 18px;">
        <tr>
            <td style="width: 35%; text-align: center;">Сотрудник</td>
            <td style="width: 30%; text-align: center;">Отдел</td>
            <td style="width: 25%; text-align: center;">Должность</td>
            <td style="width: 5%; text-align: center;">Удалить</td>
        </tr>
        @foreach (var employee in Model)
        {
            <tr>
                <td>
                <a asp-action="Index" asp-controller="Employee" asp-route-id="@employee.Id">@employee.Passport.LastName @employee.Passport.FirstName @employee.Passport.MiddleName</a>
                </td>
                <td>@employee.Purpose.SubDivision</td>
                <td>@employee.Purpose.Position</td>
                <td>Delete</td>
            </tr>
        }
    </table>
</body>
</html>